.shop-cart {
    padding-bottom: 215px;
}
.cart {
    &__form {
        margin-bottom: 150px;
    }
    &__table {
        width: 100%;
        margin-bottom: 40px;
        td, th {
            padding: 17px;
            border: 1px solid #e1e1e1;
            @include res("sm") {
                padding: 10px;
            }
        }
    }
    &__columns {
        @include res("sm") {
            display: none;
        }
        tr th {
            text-align: center;
            font-size: 14px;
            text-transform: uppercase;

            color: #fff;
            background-color: $cl_m;
            padding: 16px 15px 15px 15px;
        }
    }
    &__product {
        tr {
            text-align: center;
            @include res("sm") {
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
            }
            td {
                @include res("sm") {
                    @include flex;                    
                }
                &:before {
                    @include res("sm") {
                        content: attr(data-title)"";
                        color: #102039;
                        
                        font-size: 14px;
                        text-transform: uppercase;
                    }
                }
            }
        }
        &--img {
            width: 12%;
            text-align: center;
            @include res("sm") { 
                width: 100%;
            }
            
        }
        &--name {
            a {
                font-size: 16px;
                text-transform: uppercase;
                color: $cl_m;
                @include res("sm") { 
                    font-size: 14px;
                }
            }
        }
        &--price , &--total {
            span {
                font-size: 16px;
            }
        }
        &--quantity {
            span {
                width: 33px;
                height: 33px;
                line-height: 33px;
                display: inline-block;
                
                border: 1px solid #e1e1e1;
            }
            .input-counter {
                font-size: 16px;
            }
        }
        &--remove {
            a {
                color: #898989;
            }
        }
    }
    &__btn {
        float: right;
        button {
            margin-left: 15px;
            &:first-child {
                background: #fff;
                color: $cl_m;
                &:hover {
                    background: $cl_m;
                    color: $cl_white;
                }
            }
        }
    }
    &__pay {
        table {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 44px;
        }
        td {
            border: 1px solid #ebebeb;
            @include res("xs") {
                padding: 15px;
            }
            &:first-child {
                padding: 26px 140px 25px 140px;
                @include res("xs") {
                    padding: 26px 60px 25px 60px;
                }
            }
            &:last-child {
                padding: 26px 100px 25px 100px;
                @include res("xs") {
                    padding: 26px 40px 25px 40px;
                }
            }
        }
        tr td {
            width: 10%;
            font-size: 14px;
            font-weight: 700;
            white-space: nowrap;
            color: $cl_m;
            text-transform: uppercase;
            &:first-child {
                width: 50%;
            }
        }
        &--background {
            background: $cl_m;
            td {
                color: $cl_white !important;
            }
        }
    }
    &__btn2 {
        display: flex;
        justify-content: flex-end;
    }
}