.pagination {
    text-align: right;
    @include res("xs"){
        white-space: nowrap;
    }
    li {
        display: inline;
        a {
            display: inline-block;
            padding: 12px 17px 13px 18px;
            margin: 0 0 10px 10px;

            font-size: 14px;
            color: #898989;
            border: 1px solid #e1e1e1;
            background-color: $cl_white;
            &.active {
                color: $cl_white;
                background-color: $cl_m;
            }
            &:hover {
                color: $cl_white;
                background-color: $cl_m;
                border: 1px solid $cl_m;
            }
            @include res("md") {
                margin:0 0 7px 7px ;
            }
            @include res("mbs") {
                padding: 6px 8px 6px 8px;
                font-size: 12px;
                margin:0 0 5px 5px ;
            }
            @include res("mbl") {
                padding: 6px 10px 6px 10px;
                font-size: 13px;
                margin:0 0 5px 5px ;
            }

        }
    }
}