.quantity {
    &__form {
        padding: 30px 0 10px 0;
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
    }
    &__inner {
        @include flex($justify: normal);
        margin-bottom: 20px;
        label {
            margin-right: 20px;
        }
    }
    &__number-product {
        display: flex;
        .btn-num {
            font-size: 14px;
            width: 40px;
            height: 40px;
            
            padding: 0;

            background-color: #fff;
            color: #8d90a6;
            border: solid 1px #eaebf3;
            &:hover {
                background-color: $cl_m;
                color: $cl_white;
            }
        }
        input {
            float: left;
            width: 60px;
            height: 40px;
            margin: 0px 5px;
            text-align: center;
            color: #8d90a6;
        }
    }
}