.bestsale {
    padding-bottom: 40px;
    &__columns {
        @include flex($justify: normal, $align: normal);
        @include res("md"){
            display: unset;
        }
    }
    &__left {
        width: 23.1%;
        @include res("md") {
            width: 100%;
            margin-bottom: 50px;
        }
    }
    &__right {
        width: 76.9%;
        padding-left: 30px;
        @include res("md") {
            width: 100%;
            padding-left: 0;
        }
        &--columns {
            @include d-grid(1fr 1fr 1fr);
            @include res("md") {
                @include d-grid(1fr 1fr);
            }
            @include res("xs") {
                @include d-grid(1fr);
            }
        }
    }
}
.product-sale {
    &__box {
        padding: 22px 20px;
        position: relative;
        border: 1px solid #e1e1e1;

        @include flex($justify: normal,$align: center);
    }
    &__img {
        margin-right: 20px;
        img {
            width: 77px;
            height: 77px;
        }
    }
    &__name {
        margin-bottom:0.5rem;
        a {
            font-size: 14px;
        }
    }
    &__evaluate {
        margin-bottom:0.5rem;
        i {
            color: #febf01;
            font-size: 14px;
            letter-spacing: 4px;
        }
    }
    &__price {
        font-size: 14px;
        color: #ed1c24;
        font-family: $font_s;
    }
}

